
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Portal for you</title>
</head>
<body>
    <div style="width:100%;height:20%; background-color:aliceblue">
        <label style="color:wheat;font:bold; font-size:18px">Portal for you</label><br />
    </div> 
    <div style="width:100%;height:80%;">
         @Html.ActionLink("Login", "CreateEmploymentData", "Home");
    </div>
</body>
</html>
